<div class = "header">
    <div class="row pt-5">
      <a href="/sessions/top" class="nav-brand text-warning col-sm-1 pl-5" style = "font-size: 30px" id = "logo">MoonNight</a>
      <ul class="nav justify-content-end col-sm-11 pr-5" style = "font-size: 20px" id = "head_navi">
        <% if logged_in? %>
          <li class="nav-item">
            <a href="sound_search" class="nav-link navbar-right text-warning">音を探す</a>
          </li class="nav-item">
          <li>
            <a href="/rakuten/items" class="nav-link text-warning">睡眠グッズ</a>
          </li>
          <li>
            <%= link_to "お気に入り登録", favorite_path, class: "nav-link text-warning" %>
          </li>
          <li>
            <%= link_to "ログアウト", logout_path, method: :delete, class: "nav-link text-warning" %>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="sound_search" class="nav-link navbar-right text-warning">音を探す</a>
          </li class="nav-item">
          <li>
            <a href="#" class="nav-link text-warning">睡眠グッズ</a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>