<div class = "header">
    <div class="row pt-5">
      <a href="#" class="nav-brand col-sm-1 pl-5" style = "font-size: 30px" id = "logo">MoonNight</a>
      <ul class="nav justify-content-end col-sm-11 pr-5" style = "font-size: 20px" id = "head_navi">
        <li class="nav-item">
          <a href="sound_search" class="nav-link navbar-right">音を探す</a>
        </li class="nav-item">
        <li>
          <a href="#" class="nav-link">睡眠グッズ</a>
        </li>
      </ul>
    </div>
  </div>