<%# 課金リクエストページ用 %>
<div class = "col-md-6 offset-md-1">
    <h2 class = "text-white pt-5">アーティストにリクエストを送ってみよう!</h2>
    <p class = "text-white text-center">*こちらは有料オプションです</p>
        <div class = "font_heart_box text-center pr-5">
            <p class = "pull-left d-inline"><i class="fas fa-heart fa-3x faa-flash faa-pulse animated-hover my_pink"></i></p>
            <p class = "font_heart pull-left d-inline"><i class="fas fa-heart fa-4x faa-pulse animated-hover my_pink"></i></p>
            <p class = "font_heart pull-left d-inline"><i class="fas fa-heart fa-5x faa-pulse animated-hover my_pink"></i></p>
        </div>
        <div>
            <p class = "text-center text-info pt-5">小 => 100円, 中 => 1000円, 大 => 3000円</p>
        </div>
</div>