<% @reviews.each do |review| %>
    <div class = "review_box text-white  pl-3 mt-3 ml-5 mr-5">
        <p class = "pt-3">:<%= review.user.name %></p>
        <p class = "text-center pt-3"><%= review.body %></p>
        <p class="text-right pr-5"><%= review.created_at.strftime("%Y年%m月%d日") %></p>
    </div>
<% end %>
<%= paginate @reviews%>