<div class = "asmr_top clearfix">
  <%= render "shared/header"%>
  <%= render "shared/form" %>
  <div class = "message_box">
    <p class = "message1">ここではあなたにとって心地よい音を見つけることができます</p>
    <p class = "message2">「音を探す」をクリックして あなたが興味のあるカテゴリーを選んでください</p>
  </div>
</div>

<div class = "asmr_2">
  <div class = "pt-5">
    <h1 class = "text-center">さまざまな音を楽しむことができます</h1>
  </div>
  
  <div class = "row pt-5">
    <div class="card col-md-3 col-sm-6" id = "card1">
      <img class="card-img-top" src="..." alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">カードのタイトル</h5>
        <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。 カードのコンテンツ カードのコンテンツ</p>
      </div>
    </div>

    <div class="card col-md-3 col-sm-6" id = "card2">
      <img class="card-img-top" src="..." alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">カードのタイトル</h5>
        <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。 カードのコンテンツ カードのコンテンツ</p>
      </div>
    </div>

    <div class="card col-md-3 col-sm-6" id = "card3">
      <img class="card-img-top" src="..." alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">カードのタイトル</h5>
        <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。 カードのコンテンツ カードのコンテンツ</p>
      </div>
    </div>

    <div class="card col-md-3 col-sm-6" id = "card4">
      <img class="card-img-top" src="" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">カードのタイトル</h5>
        <p class="card-text">以下のテキストを追加のコンテンツへの自然な導入としてサポート。 カードのコンテンツ カードのコンテンツ</p>
      </div>
    </div>

  </div>
</div>

</div>

<div class = "asmr_3">
</div>