<div class = "asmr_top">
  <%= render "shared/header"%>
  <div class = "message_box">
    <p class = "message1">ここではあなたにとって心地よい音を見つけることができます</p>
    <p class = "message2">「音を探す」をクリックして あなたが興味のあるカテゴリーを選んでください</p>
  </div>

  <div class = "asmr_2">
  </div>
</div>