<div class = "asmr_top clearfix">
  <%= render "shared/form" %>
  <%= render "shared/header"%>
  <div class = "message_box text-white">
    <h2 class = "message1">ここではあなたにとって心地よい音を見つけることができます</h2>
    <h5 class = "message2">「音を探す」をクリックして あなたが興味のあるカテゴリーを選んでください</h5>
  </div>
</div>

<div class = "asmr_2">
  <div class = "pt-5">
    <h2 class = "text-center text-white">さまざまな音を楽しむことができます</h2>
  </div>
  
  <div class = "row text-center pt-5">
    <div class="card col-md-3 col-sm-6" id = "card1">
      <img class="card-img-top" src="/assets/card1.jpg" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">~shampoo~</h5>
      </div>
    </div>

    <div class="card col-md-3 col-sm-6" id = "card2">
      <img class="card-img-top" src="/assets/card2.jpg" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">~water~</h5>
      </div>
    </div>

    <div class="card col-md-3 col-sm-6" id = "card3">
      <img class="card-img-top" src="/assets/card3.jpg" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">~sand~</h5>
      </div>
    </div>

    <div class="card col-md-3 col-sm-6" id = "card4">
      <img class="card-img-top" src="/assets/card4.jpg" alt="カードの画像">
      <div class="card-body">
        <h5 class="card-title">~typing~</h5>
      </div>
    </div>

  </div>
</div>

</div>

<div class = "asmr_3">
  <h2 class = "text-center text-white pt-5">睡眠をより上質にしませんか？</h2>
</div>