<div class = "favorite_box">
<h1 class = "text-center text-white pt-5">アーティストに応援メッセージや感想を送って共有しよう！</h1>
  <div class = "container">
    <div class = "row">
      <div class = "col-md-4 offset-1 pt-5">
        <div class = "asmr_face1 mx-auto"></div>
        <a href="/ppomo" class = "at text-warning"><h1 class = "text-center">PPOMO</h1></a>
      </div>

      <div class = "col-md-4 offset-1 pt-5">
        <div class = "asmr_face2 mx-auto"></div>
        <a href="/hatomugi" class = "at text-warning"><h1 class = "text-center">HATOMUGI</h1></a>
      </div>

      <div class = "col-md-4 offset-1 pt-5">
        <div class = "asmr_face3 mx-auto"></div>
        <a href="/cham" class = "at text-warning"><h1 class = "text-center">cham</h1></a>
      </div>

      <div class = "col-md-4 offset-1 pt-5">
        <div class = "asmr_face4 mx-auto"></div>
        <a href="/muki" class = "at text-warning"><h1 class = "text-center">高倉むき</h1></a>
      </div>

      <div class = "col-md-4 offset-1 pt-5">
        <div class = "asmr_face5 mx-auto"></div>
        <a href="/umino" class = "at text-warning"><h1 class = "text-center">umino</h1></a>
      </div>

      <div class = "col-md-4 offset-1 pt-5">
        <div class = "asmr_face6 mx-auto"></div>
        <a href="/jae" class = "at text-warning"><h1 class = "text-center">Jae Yeol</h1></a>
      </div>
    </div>
  </div>
</div>