
<div class = "random_box">
  <h1 class = "text-center text-white pt-5">今日はこの動画を見て寝ましょう</h1>
    <div class = "col-md-2 offset-md-5 pt-5">
        <img class = "text-center" src="<%= @image0 %>" width="100%" height="200">
        <p class = "mb-0">動画タイトル</p>
        <%= link_to @title0, "http://www.youtube.com/embed/#{@url0}" %>
    </div>
</div>