<div class = "artist_review_box">
    <%= render "shared/header" %>
    <div class = "row pt-3">
        <div class = "muki_header col-md-4 offset-1">
        </div>
        <%= render "shared/request" %>
    </div>
    <%= render "shared/reviews" %>
</div>